.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
  
}

.main ul li {
  margin: 0 2rem;
}

.main ul li a {
  text-transform:capitalize;
  text-decoration: none;
  color: #702B3D;
  font-weight: bold;
  font-size: 1.1rem;
}




@media (max-width: 768px)  {
  .main {
    padding: 1rem;
  }

  .main ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .main ul li {
    margin: 0;
  }
  .main ul li h4{
    margin: .5rem 0;
    font-size: 1.1rem;
  }
}

@media (min-width: 768px)  {
  .navbar_wrapper {
    position: fixed;
    background-color: #FCF2F0;
    z-index: 999;
    width: 100%;
  }
  .main ul {
    height: 4rem;
  }
  
  .navbar_wrapper ul {
    position: fixed;
    background-color: #FCF2F0;
    z-index: 9999;
    width: 100%;
    list-style: none;
    padding-inline-start: 0;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  .navbar_wrapper ul li {
    margin: 0 1rem;
    
  }
  .navbar_wrapper a {
    text-decoration: none;;
  }
}

  

