.story_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 ;
  position: relative;
}

.anchor {
  position: absolute;
  top :-2.5rem;
}

.story_content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.image_container {
  position: relative;
  display: block;
  height: 30rem;
  width: 80%;
}

.story_content p {
  flex: 1;
  text-align: center;
}